.rd-pull-fresh {
    user-select: none;
    overflow: hidden;
}

.rd-pull-fresh-track {
    position: relative;
    .rpf-track-head {
        color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 50px;
        left: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        top: -50px;
        .rd-loading {
            margin: 0 auto;
        }
        .rd-loading-dot i {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    .rpf-track-head-text {
        line-height: 2;
        font-size: 12px;
    }
    .rpf-track-head-loading {
        line-height: 2;
        font-size: 12px;
    }
}